@model IEnumerable<SistemaVendas.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Clientes</h2>


<p>
    <a asp-action="Create" class="btn btn-success mr-2">Cadastrar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobrenomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelefoneCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NivelAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SobrenomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.TelefoneCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NivelAcesso)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClienteID" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ClienteID" class="btn btn-secondary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.ClienteID" class="btn btn-danger">Excluir</a>
                </td>

        </tr>
}
    </tbody>
</table>
