@model IEnumerable<SistemaVendas.Models.Login>

@{
    ViewData["Title"] = "Index";
}

<h2>Login</h2>

<p>
    <a asp-action="Create" class="btn btn-success mr-2">Cadastrar</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.LoginID" class="btn btn-primary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.LoginID "class= "btn btn-secondary">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.LoginID" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
